/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    /*font-family: "Chakra Petch", sans-serif;  /*Define a fonte padrão */
    /*background-color: #f6f6f6; /* Cor de fundo da página */
    font-family: "Playwrite DE Grund", cursive;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    /*height: 100vh;  Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-color: #1c1b1b;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #EDD35A; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    /*letter-spacing: 0.4rem; /* Espaçamento entre letras */
}
/*Customização - header*/
header{
    content: "";
    display: block;
    width: 100%;
    height: auto;
    /*background-color: #7005f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}
/*Customização do Logo*/
.logo {
    width: 8rem;
    height: auto;
    margin-right: 35rem;
    position: absolute;
  }
  .container {
   /* display: flex;*/
    justify-content: center;
    flex-direction: row;
    align-items: center;
} 
/*Customização do Menu*/
/*nav {
    background-color: #000;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #8a6120;
}
nav ul li.active a {
    background-color: #f2f2f2;
    font-weight: bold;
  }*/
  nav {
    background-color: #000;
    padding: 20px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.menu a.active {
    background-color: #4CAF50;
    border-radius: 5px;
}
a:link{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #FEE28A;
    transform: scale(1.2);
}

/*Customização escurece a tela*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Preto com 50% de transparência */
    z-index: 999; /* Garante que a camada fique por cima de outros elementos */
    display: none; /* Inicialmente, a camada está escondida */
  }
/*customização font*/
.playwrite-de-grund {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Estiliza as seções da página */
section {
    /*display: flex;  Usa Flexbox para layout */
    /*display: inline-flexbox;*/
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    /*margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    padding-inline: 8rem;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 45rem; /* Largura dos inputs */
    /*margin-top: 5vh;  /*Preenche a altura total da viewport */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 1rem 1.0rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 0.5rem; /* Borda arredondada */
    background-color:#020201;/* Cor de fundo do botão */
    color: #FEE28A; /* Cor do texto do botão */
    font-size: 1.2rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-left: 1.2rem;
}

/* Adiciona efeito hover ao botão de pesquisa 
section button:hover {
    background-color:#8a6120; /* Muda a cor de fundo ao passar o mouse */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa 
}
*/
/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    /*padding: 1rem; /* Espaçamento interno */
    border-radius: 0.4rem; /* Borda arredondada */
    padding-inline: 8rem;
    color: #ffd806;
}

/* Estiliza cada item de resultado */
.item-resultado {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo dos itens */
    border-radius: 0.4rem; /* Borda arredondada */
    padding: 2rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #5e0094; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #790f2a; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: #9b1a3a;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}
/*Customização de Div*/
.estilizando-div{
    width: 60rem;
    color: #45474B;
    margin: 0.5rem 0;
    text-align: center;
    padding: 25px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}
/* Estiliza o rodapé da página */
footer {
    background-color: #020202; /* Cor de fundo do rodapé */
    color: #3F5859; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    /*position: absolute;  /*Posiciona o rodapé */
    font-size: 0.8rem; /* Tamanho da fonte */
    position: fixed;
    bottom: 0;/* Alinha ao fundo da página */
    left: 0;
    right: 0;
}
/*Customização oval*/
.oval {
    width: 200px;
    height: 200px;
    background-color: #8500b3;
    border-radius: 50% / 25%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .oval-objetivos{
    width: 200px;
    height: 200px;
    background-color: #e0ae00;
    border-radius: 50% / 50%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .oval-creditos{
    width: 200px;
    height: 200px;
    background-color: #d8007e;
    border-radius: 25% / 0%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
/*Custoimização Olho segue mouse*/
.eyes {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
  }
  
  .eye {
    width: 85px;
    height: 70px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pupil {
    width: 40px;
    height: 40px;
    border-radius: 101px;
    background-color: #000;
  }
/*Customização rotação do logo*/
#myCircle {
    animation: rotate 8s linear infinite;
  }
  /*Customização neon css*/
 /*Botão*/

:root {
    --cor-azul: #3BF1F4;
    --cor-hover: #ffffff;
  }
  
    .btn {
   /* padding:0.2em 1em;*/
    border-radius: 1.5rem;
    /*border-radius:50px;*/
    display:inline-block;
  
  }
  
  .btn-neon {
    border:4px solid #ffffff;
    position: relative;
   /* text-transform: capitalize;*/
    text-decoration:none;
    color:#3BF1F4;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
   /* font-family: 'open_sansregular';*/
    transition:0.4s;
    text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
    /*box-shadow: inset 0 0 0.5em 0 var(--cor-azul), 0 0 0.5em 0 var(--cor-azul);*/
  }
  
  .btn-neon:hover {
    color: var(--cor-hover);
    border:4px solid var(--cor-hover);
    transition:0.4s;
    text-shadow: none;
  }
  
  .btn-neon:hover:after {
    opacity: 1;
  }
  
  .btn-neon:hover:before {
    opacity: 1;
  }
  
  .btn-neon:before, .btn-neon:after {
    content: "";
    position: absolute;
    transition: opacity 100ms linear;
    background-color: var(--cor-azul);
  }
  
  .btn-neon:before {
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.5;
  }
  
  .btn-neon:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0.75em 0.25em var(--cor-azul), 0 0 0.75em 1em var(--cor-azul);
    opacity: 0;
  }
  /*BOtão*/
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        /*letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        /*letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}
